annotated-types==0.7.0
Authlib==1.3.1
bandit==1.7.9
blinker==1.8.2
certifi==2024.7.4
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
cryptography==43.0.0
dparse==0.6.4b0
filelock==3.12.4
flake8==7.1.0
Flask==3.0.3
idna==3.7
iniconfig==2.0.0
itsdangerous==2.2.0
Jinja2==3.1.4  # Actualizado para mitigar la vulnerabilidad SSTI
markdown-it-py==3.0.0
MarkupSafe==2.1.5
marshmallow==3.21.3
mccabe==0.7.0
mdurl==0.1.2
packaging==24.1
pbr==6.0.0
pluggy==1.5.0
pycodestyle==2.12.0
pycparser==2.22
pydantic==2.8.2
pydantic_core==2.20.1
pyflakes==3.2.0
Pygments==2.18.0
pytest==8.3.2
PyYAML==6.0.1
requests==2.32.3
rich==13.7.1
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.8
safety==3.2.4
safety-schemas==0.0.2
setuptools==72.1.0
shellingham==1.5.4
stevedore==5.2.0
typer==0.12.3
typing_extensions==4.12.2
urllib3==2.2.2
Werkzeug==3.0.3
pip>=23.1  # Actualizado para mitigar la vulnerabilidad de inyección de comandos
